.form{
    text-align: center;
    color: rgb(14, 87, 245);
    margin-left: 18px;
    size: 23%;
}

.form input{
    width: 34%;
    height: 35px;
    margin-top: 2%;
    background-color: rgb(45, 64, 175);
    font-size: 90%;
    text-align: center;
    font-family: Chalkduster;
    color: rgb(13, 250, 171);
}

.form button{

        text-align: center;
        color:blue;
        box-shadow: 5px 7px 37px 5px;
        margin-top:4%;
        height:35px;
        width:34%;
        background-color: rgb(205, 226, 12);
    
}