.Title{
    text-align: center;
    font-size: 4ch;
    font-family: Arial Rounded MT Bold;
    color:pink;
}

.Gobble{
    text-align: center;
    font-size: 4ch;
    color: coral;
    font-family: -apple-system-short-body;
}